<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>extloc - extensions</title>
</head>

<body>
  <h1>extloc - extensions</h1>

  <ul>
  {% for ext in extensions %}
    <li><a href="/extensions/{{ ext }}">{{ ext }}</a></li>
  {% endfor %}
  </ul> 
</body>
</html>
