<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ extension }} - extloc</title>
</head>

<body>
  <h1><a href="/">extloc</a>: {{ extension }}</h1>

  <h2>wikis</h2>

  <ul>
  {% for wiki in wikis %}
    <li><a href="/wikis/{{ wiki }}">{{ wiki }}</a></li>
  {% endfor %}
  </ul> 

  <h2>groups</h2>

  <ul>
  {% for group in groups %}
    <li><a href="/groups/{{ group }}">{{ group }}</a></li>
  {% endfor %}
  </ul> 

</body>
</html>
