<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ group }} - extloc</title>
</head>

<body>
  <h1><a href="/">extloc</a>: {{ group }}</h1>

  <h2>extensions</h2>

  <ul>
  {% for ext in extensions %}
    <li><a href="/extensions/{{ ext }}">{{ ext }}</a></li>
  {% endfor %}
  </ul> 

</body>
</html>
