<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>extloc - Where are MediaWiki extensions deployed in production?</title>
</head>

<body>
  <h1>extloc</h1>

  <h2>contents</h2>

  <ul>

    <li>
      <a href="/wikis">List of wikis</a> (<a href="/wikis.json">JSON</a>)
    </li>

    <li>
      <a href="/extensions">List of extensions</a> (<a href="/extensions.json">JSON</a>)
    </li>

    <li>Groups:
      <ul>
        {% for group in groups %}
        <li><a href="/groups/{{ group }}">{{ group }}</a></li>
        {% endfor %}
      </ul>
    </li>

  </ul>

  <h2>about</h2>

  <p>This is a locator for MediaWiki extensions deployed to Wikimedia
  production.  It can be used to find:

  <ul>
    <li>Which wikis an extension is deployed to</li>
    <li>Which extensions are deployed to a wiki</li>
    <li>Which extensions are deployed to a group of wikis</li>
  </ul>

  <p>See <a href="https://gitlab.wikimedia.org/brennen/extloc">https://gitlab.wikimedia.org/brennen/extloc</a>
  for source and context.</p>

  <hr>

  <p><img src="https://tools-static.wmflabs.org/toolforge/banners/Powered-by-Toolforge.png"></p>

</body>
</html>
