<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>extloc - wikis</title>
</head>

<body>
  <h1>extloc - wikis</h1>

  <h2>wikis</h2>

  <ul>
  {% for wiki in wikis %}
    <li><a href="/wikis/{{ wiki }}">{{ wiki }}</a></li>
  {% endfor %}
  </ul>
</body>
</html>
